<html>
	<head>
		<title>{{ message.get_queue_name() }}</title>
		<style>
			th, td {
				border: 1px solid black;
				border-radius: 10px;
				padding: 10px; 
			}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<th>queue</th>
				<td>{{ message.queue_name }}</td>
			<tr>
				<th>timestamp</th>
				<td>{{ message.timestamp }}</td>
			</tr>
			<tr>
				<th>trace_id</th>
				<td>{{ message.trace_id }}</td>
			</tr>
			<tr>
				<th>message_length</th>
				<td>{{ message.message_length }}</td>
			</tr>
			<tr>
				<th>body</th>
				<td>{{ message.message_body }}</td>
			</tr>
		</table>
	</body>
</html>