<html>
	<head>
		<title>Peek</title>
		<style>
			th, td {
				border: 1px solid black;
				border-radius: 10px;
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<th>timestamp</th>
				<th>trace_id</th>
				<th>message_length</th>
				<th>message_body</th>
			</tr>
			{% for message in messages %}
			<tr>
				<td>{{ message.timestamp }}</td>
				<td>{{ message.trace_id }}</td>
				<td>{{ message.message_length }}</td>
				<td>{{ message.message_body }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>